<!DOCTYPE html>
<html lang="zh-Hant-tw">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>練習2</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<style>
    .newarea {
        padding-bottom: 50px;
    }

    .quest h3 {
        padding-bottom: 10px;
    }

    .item {
        margin: 10px 0;
    }

    .item label input {
        margin: 0 5px;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }

    .item .value {
        width: 40px;
    }

    .quest label {
        display: block;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.7;
    }
    .insertBtn {
      margin-top: 20px;
    }
    </style>
</head>

<body>
    <div class="container" id="app">
        <div class="newarea row">
            <div class="newitem col-xs-12 col-sm-12">
                <h1><strong>簡單的心理測驗遊戲</strong> | 新增</h1>
                <hr>
                <div class="col-xs-12 col-sm-5">
                    <label>題目</label>
                    <textarea class="form-control" v-model="questNew"></textarea>
                    <button @click="insertquest" class="insertBtn btn btn-info">新增</button>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="item" v-for="(item, idx) in optionsArray">
                        <label>選項{{idx + 1}}：
                            <input type="text" v-model="item.ans">
                        </label>
                        <label>配分：
                            <input type="text" v-model.number="item.value" class="value">
                        </label>
                        <button @click="addOption" type="button" class="btn btn-default" title="新增選項">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button @click="removeOption(idx)" v-show="optionsArray.length > 1" type="button" class="btn btn-default" title="刪除選項">
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1><strong>簡單的心理測驗遊戲</strong><kbd style="float: right">{{index+1}} / {{questions.length}}</kbd></h1>
                <hr>
                <div class="quest form-group">
                    <h3><strong>第{{ index + 1 }}題: {{questions[index].quest }}</strong></h3>
                    <label v-for="(answer, idx) in questions[index].options">
                        <input type="radio" :name="'quest'+index+1" :value="answer.value" v-model="questions[index].selected"> {{ idx + 1 }}. {{ answer.ans }}
                    </label>
                </div>
                <button @click="prevquest" v-show="index < questions.length && index > 0" class="btn btn-primary">上一題</button>
                <button @click="nextquest" v-show="index < questions.length - 1" class="btn btn-primary">下一題</button>
                <button @click="settlement" v-show="index == questions.length -1" class="btn btn-danger">看結果</button>
                <button @click="reset" v-show="index == questions.length -1" class="btn btn-success">重置</button>
            </div>
        </div>
    </div>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            questNew: null,
            optionsArray: [{ ans: null, value: null }],
            index: 0,
            questions: [{
                    quest: '如果你是童話故事中，想吃掉三隻小豬的大野狼，你認為使用哪一種方法可以容易吃掉他們？',
                    options: [
                        { ans: '用煙把小豬燻到昏倒', value: 1 },
                        { ans: '從煙囪或其他入口偷偷爬進屋', value: 2 },
                        { ans: '用槌子把門破壞闖入屋內', value: 3 },
                        { ans: '模仿豬媽媽的聲音騙小豬開門', value: 4 },
                    ],
                    selected: null,
                },
                {
                    quest: '剪刀、石頭、布，你第一直覺會出哪一個？',
                    options: [
                        { ans: '剪刀', value: 3 },
                        { ans: '石頭', value: 2 },
                        { ans: '布', value: 1 },
                    ],
                    selected: null
                },
                {
                    quest: '下列四項運動項目中，假設你要開始嘗試的話，你最想要做哪一項？',
                    options: [
                        { ans: '潛水', value: 3 },
                        { ans: '滑翔翼', value: 4 },
                        { ans: '滑水', value: 2 },
                        { ans: '長途徒步旅行', value: 1 },
                    ],
                    selected: null,
                }
            ]
        },
        computed: {
            total: function() {
                var sum = 0;
                this.questions.forEach(function(v) {
                    sum += Number(v.selected);
                });
                return sum;
            }
        },
        methods: {
            addOption: function(){
              isEmpty = 0;
              for(item in this.optionsArray) {
                if (item.ans === null)  isEmpty++;
                if (item.value === null) isEmpty++;
              }
              if(this.questNew === null || isEmpty > 0) {
                alert('題目、選項及配分尚未填寫完成，請再確認！');
              } else {
                this.optionsArray.push({ ans: null, value: null })
              }
            },
            removeOption: function(idx){
                this.optionsArray.splice(idx, 1)
            },
            insertquest: function() {
                for(item in this.optionsArray) {
                  if (item.ans === null)  isEmpty++;
                  if (item.value === null) isEmpty++;
                }
                if (this.questNew === null || isEmpty > 0) {
                    alert('您欲新增的題目、題項及配分尚未填寫完全，請再檢查後送出！');
                } else {
                    this.questions.push({
                        quest: this.questNew.trim(),
                        options: this.optionsArray,
                        selected: null,
                    });
                    this.questNew = null;
                    this.optionsArray = [{ ans: null, value: null }];
                    alert('已新增完畢!');
                }
            },
            nextquest: function() {
                let questResult = this.questions[this.index].selected;
                let questCounts = this.questions.length;
                console.log(this.index, questCounts, questResult);
                if (questResult === null) {
                    alert('您尚未作答，請填答!!');
                } else {
                    this.index++;
                    if (this.index > questCounts) { this.index === questCounts }
                }
            },
            prevquest: function() {
                this.index--;
                if (this.index < -1) { this.index === 0 }
                console.log(this.index);
            },
            settlement: function() {
                if (this.questions[this.index].selected === null) {
                    alert('您尚未填寫完畢，請再檢查！');
                } else {
                    alert('總分: ' + this.total);
                }

            },
            reset: function() {
                this.index = 0;
                this.questions.forEach(function(v) {
                    v.selected = null;
                });
            }
        },
    });
    </script>
</body>
</html>